<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">

        <testsuites>

            <testsuite name="Mustache unit test suite">
                <directory>./tests/Mustache/Test</directory>
            </testsuite>

        </testsuites>

        <filter>
            <whitelist>
                <directory suffix=".php">./lib/Mustache</directory>
            </whitelist>
        </filter>

</phpunit>